/***    variebles   ***/
:root{
    --my-border-radius:10px;
}
a{
    text-decoration: none;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    direction: rtl;
    display: grid;
    grid-template-areas: "head""main""footer";
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
}
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    
}
header a{
    color: #FD3A6E;
    font-size: 25px;
    text-decoration: none;
}
#top-menu-logo{
    width: 80px;
    border-radius: var(--my-border-radius);   
    background-color: #ABD401;
}
.top-menu-button{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    background-color: #ABD401;
    font-weight: bold;
    color: #FD547F;
    -webkit-text-stroke: 1.5px white;
    border-radius: var(--my-border-radius);
    margin: 30px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.top-menu-button:hover {
    background-color: #FD547F;
    color: white;
}
main {
    margin-top: 90px;
    padding: 10px;
    min-height: 900px;
   
}
footer{
    height: 100px;
    width: 100%;
    background-color: #f5940d7d;
}

.product-link{
    display: grid;
    grid-template-columns: "img p p";
    background-color: #FD3A6E;
    max-width: 250px;
    max-height: 350px;
    margin: 30px;
    padding: 10px;
    justify-items: center;
    border-radius: var(--my-border-radius);;
}
.product-link-image{
    width: 100%;
    background-color: white;
    aspect-ratio: 1 / 1;
    border-radius: var(--my-border-radius);
    overflow: hidden;
    object-fit:scale-down;
}
.product-link img{
    object-fit: cover;
    max-width: 100%;
}

.product-link p{
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0px;
}
.product-link:hover{
    background-color:#F5940D;
}


