body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    direction: rtl;
    display: grid;
    grid-template-areas: "head""main""footer";
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
}
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0px;
    right: 0px;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(152, 150, 199);
    color: white;
    text-align: center;
}
header a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.top-menu-button{
    width: 100%;
    background-color: orangered;
}
.picked-top-menu-button{
    width: 100%;
    background-color: purple;
}
main {
    justify-items: center;
    margin-top: 90px;
    padding: 10px;
    border: 1px solid black;
  }
footer {
    border: 1px solid black;
    height: 100px;
}

