body {
  font-family: Arial, sans-serif;
  direction: rtl;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}
header {
  border: 1px solid blue;
  height: 100px;
  padding: 5px;
}
main {
  margin: 20px;
  padding: 10px;
  border: 1px solid blue;
}

footer {
  border: 1px solid blue;
  height: 100px;
}
