/***    variebles   ***/
:root {
  --my-border-radius: 10px;
  --my-font: 'MyCustomFont';
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('/src/fonts/gan/gan/ganclm_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #fce41014;
  font-family: var(--my-font), sans-serif;
  direction: rtl;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
header {
  min-height: 100px;
  background: rgb(109, 191, 238);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid {
  width: 100%;
  padding: 0 16px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 90px;
  border-radius: 50px;
  background-color: #abd401;
  margin: 5px;
}
header nav {
  display: flex;
  gap: 15px;
}
header nav a {
  color: #fd3a6e;
  font-size: 30px;
  text-decoration: none;
}
header nav a:hover {
  color: orange;
  text-decoration: underline;
}
.top-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;

  background-color: #abd401;
  font-weight: bold;
  color: #fd547f;
  -webkit-text-stroke: 1.5px white;
  border-radius: var(--my-border-radius);
  padding: 10px;
  margin: 10px;

}
.top-menu-button:hover {
  text-decoration: none;
  background-color: #fd547f;
  color: white;
}
main {
  margin-top: 110px;
  padding: 10px;
  min-height: 700px;
}

.product-link {
  display: grid;
  grid-template-columns: "img p p";
  background-color: #fd3a6e;
  max-width: 150px;
  max-height: 350px;
  margin: 20px;
  padding: 10px;
  justify-items: center;
  border-radius: var(--my-border-radius);
}
.product-link-image {
  width: 100%;
  background-color: white;
  aspect-ratio: 1 / 1;
  border-radius: var(--my-border-radius);
  overflow: hidden;
  object-fit: scale-down;
}
.product-link img {
  object-fit: cover;
  max-width: 100%;
}

.product-link p {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0px;
}
.product-link:hover {
  background-color: #f5940d;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #f5940d7d;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
footer img {
  max-height: 20px;


@media (max-width: 900px) {
  header {
    min-height: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .container-fluid {
    right: 0px;
    margin: 0px;
    width: 100%;
    padding: 0 16px;
  }
  .container {
    margin: 0 auto;
  }
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    height: 50px;
    border-radius: 50px;
    background-color: #abd401;
    margin: 5px;
  }
  header nav {
    display: flex;
    gap: 0px;
  }
  header nav a {
    color: #fd3a6e;
    font-size: 20px;
    text-decoration: none;
  }
  header nav a:hover {
    color: orange;
    text-decoration: underline;
  }
  .top-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    width: 100px;
  
    background-color: #abd401;
    font-weight: bold;
    color: #fd547f;
    -webkit-text-stroke: 1px white;
    border-radius: var(--my-border-radius);
    padding: 10px;
    margin: 5px;
  
  }
  .top-menu-button:hover {
    text-decoration: none;
    background-color: #fd547f;
    color: white;
  }
  main {
    margin-top: 0px;
    padding: 0px;
    min-height: 100%;
  }
  footer {
    height: 100px;
    width: 100%;
    background-color: #f5940d7d;
  }
  
  .product-link {
    margin: 10px;
    padding: 5px;
  } 
  .product-link p {
    font-weight: normal;
    margin: 0px;
  }
}
