.categories-nav {
  /* background-color: #75d4e3; */
  padding: 5px 50px;
  margin: 10px 0;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 100px;
  text-align: center;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.category a {
  text-decoration: none;
  color: inherit; /* שומר על צבע הטקסט */
}

.category img {
  width: 200px;
  height: 200px;

  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.category img:hover {
  transform: scale(1.1);
}

.category div {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 900px) {
  .categories-nav {
    margin-top: 100px;
  }
  
  .categories-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }
  .category {
    margin: 10px;
  }
  
  .category img {
    width: 100px;
    height: 100px;
  }
  
  .category div {
    font-size: 20px;
  }
}
