.specials {
  padding: 100px;
  width: 100%;
  height: 100%;
  background-color: #35c0ea50;
  border-radius: var(--my-border-radius);
}
.products-window {
  width: 100%;
  display: grid;
  grid-template-areas: "product-link product-link product-link product-link";
  align-content: space-evenly;
  justify-content: space-evenly;
}
