.specials{
    padding: 100px;
    width: 100%;
    height: 100%;
    border-radius: var(--my-border-radius);
}
.specials h2{
    text-align: center;
    font-size: 4vw;
    padding: 0px;
    margin: 0px;
    color:#FE306C;
    -webkit-text-stroke: 0.2vw black;
}
.products-window {
  width: 100%;
  display: grid;
  grid-template-areas: "product-link product-link product-link product-link";
  align-content: space-evenly;
  justify-content: space-evenly;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('/src/fonts/newyear_goo/Newyear Goo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
#headline{
    display: flex; 
    direction: ltr;
    justify-content: center; 
    align-items: center;
    flex-wrap: nowrap;  
    margin-top: 100px;
    margin-bottom: 0px;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 10vw;
    -webkit-text-stroke: 0.5vw black;
}
.ha1{ color: red; }
.ha2{ color: orange; }
.ha3 { color: yellow; }
.ha4 { color: green; }
.ha5{ color: blue; }
.ha6 { color: indigo; }
.ha7 { color: violet; }
.ha8 { color:darkkhaki; }

@media (max-width: 900px) {
    .specials{
        padding: 10px;
    }
    .specials h2{
        font-size: 6vw;
        margin-top: 40px;
        color:#FE306C;
        -webkit-text-stroke: 0.2vw black;
    }
    .products-window {
      grid-template-areas: "product-link product-link product-link";
      align-content: space-evenly;
      justify-content: space-evenly;
    }
    @font-face {
        font-family: 'MyCustomFont';
        src: url('/src/fonts/newyear_goo/Newyear Goo.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    #headline{
        display: flex; 
        direction: ltr;
        justify-content: center; 
        align-items: center;
        flex-wrap: nowrap;  
        margin-top: 100px;
        margin-bottom: 0px;
        font-family: 'MyCustomFont', sans-serif;
        font-size: 10vw;
        -webkit-text-stroke: 0.5vw black;
    }
}