.specials{
    width: 100%;
    background-color: solid 1px black;
}
.products-window{
    border:1px solid #ABD401;
    width: 100%;
    display: grid;
    grid-template-areas: "product-link product-link product-link product-link";
    align-content: space-evenly;
    justify-content: space-evenly;
}